

.landing_page {
    text-align: center;
}

.tiro {
    
    font-size: 25PX;
    font-family: "Tiro Bangla", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    
}
